<mat-toolbar color="primary" class="sticky top-0 z-20">
    <span class="font-bold">Badges Manager</span>
    <span class="flex-1"></span>
    <ng-container *ngIf="auth.currentUser$ | async as u; else loggedOut">
        <span class="mr-4">Hi, {{ u.username }}</span>
        <button mat-button (click)="auth.logout()">Logout</button>
    </ng-container>
    <ng-template #loggedOut>
        <a mat-button routerLink="/login">Login</a>
    </ng-template>
</mat-toolbar>

<main class="p-4">
    <ng-container *ngIf="auth.isLoggedIn(); else showLogin">
        <app-exhibitors-list></app-exhibitors-list>
    </ng-container>
    <ng-template #showLogin>
        <app-login></app-login>
    </ng-template>
</main>